asgiref==3.8.1
Django==5.0.6
gunicorn==22.0.0
psycopg2-binary==2.9.9
sqlparse==0.5.0
whitenoise==6.7.0
djangorestframework
langchain
langchain-groq
groq
opencv-python-headless
mediapipe
supervision
onnxruntime
inference
python-dotenv
numpy
celery
redis